<div class= "banner", style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= asset_path 'background.jpg' %>);">

  <div class="banner-content">
     <h1>mister_Cocktail</h1>
    <%= link_to new_cocktail_path do  %>
    <div class="button">
        create your own
    </div>
    <% end %>
  </div>
</div>

