p {
  margin-right: 200px;
  padding: 10px;
}

h3 {
  text-align: center;
}

.card {
  background-color: rgba(55, 62, 64, 0.9);
  color: #f7f7f7;
  width: 600px;
  height: 600px;
  margin: auto;
  padding: 30px;
  border-radius: 5px;
  box-shadow: 5px
}

.show-container {
   display: flex;
   justify-content: center;
   align-items: center;
}

ul {
  text-align: left;
}

.fa-trash-alt {
  color: rgba(255, 60, 56, 0.8);
  padding: 15px;
}

.fa-trash-alt:hover {
  color: rgba(255, 60, 56, 1);
}

.fa-plus-circle {
  margin-right: 450px;
  font-size: 20px;
  color: rgba(128, 255, 114, 0.8)
}

.fa-plus-circle:hover {
  color: rgba(128, 255, 114, 1)
}

.sample {
  border-radius: 50%;
}

.drink-delete {
  text-align: center;
}
